.idea/
# IDE
.vscode/
nbproject/
.DS_STORE
/coverage/
# Vendor
/vendor/
# Logs
/logs/*
!/logs/README.md
# Cache
/var/*
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock
public/assets
**/assets/css/*
**/assets/js/*
src/modules/Components/images/**
node_modules
.env
mix-manifest.json
.php-cs-fixer.cache
