[submodule "api/mapas/src/plugins/plugin-Metabase"]
	path = api/mapas/src/plugins/plugin-Metabase
	url = https://github.com/RedeMapas/plugin-Metabase
	branch = main
[submodule "api/mapas/src/plugins/plugin-MultipleLocalAuth"]
	path = api/mapas/src/plugins/plugin-MultipleLocalAuth
	url = https://github.com/RedeMapas/plugin-MultipleLocalAuth
	branch = feature/register-minimal
