@use '../0.settings/mixins' as *;

.controller-agent.action-edit.Agent-2.Agent-1 {
    .data-subtitle {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: size(14);
        line-height: size(19);
    }
}

.controller-agent.action-edit {
    .mc-card {
        padding: 0;
        background-color: var(--mc-white);
        border-radius: var(--mc-border-radius-sm);
        width: 100%;

        &__title {
            margin-bottom: 0;
            padding-bottom: 0;

            h3 {
                padding: size(25);
                color: var(--mc-primary-500);   
                border-bottom: 1px solid #bbbbbb;  
            }
    
            label {
                font-weight: 700;
                font-size: size(24);
                line-height: size(28);
            }
    
            p {
                margin: size(8) 0 0;
                font-size: size(14);
                line-height: size(19);
            }
        }

        &.feature__full {
            grid-column-start: 1;
            grid-column-end: 3;
            
            @media (max-width: size(800)) {
                grid-template-columns: 100%;
                grid-column-end: 2;
            }
    
            .mc-card__content {
                display: grid;
                flex-wrap: wrap;
                padding-left: size(24);
                padding-right: size(24);
    
                @media (max-width: size(800)) {
                    grid-template-columns: 100%;
                    gap: size(20);
                }
    
                .card_profile {
                    margin-top: -65px;
                }
                
                .left {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
        
                .divider {
                    padding: size(30) 0 0 size(30);
                    border-bottom: 1px solid #bbbbbb;
                }

                h4 {
                    font-size: 1.125rem;
                    line-height: 1.5625rem;
                    margin-top: size(25);
                    margin-bottom: size(25);
                }
        
                .right {
                    display: flex;
                    flex-direction: column;
                    gap: size(40);
                    width: 100%;
                }
            }  
        }

        p {
            font-family: 'Open Sans';
            font-style: normal;
            font-size: size(14);
            line-height: size(19);
            margin-top: size(15);
            color: #1E1E1E;
            border-bottom: 1px solid #bbbbbb;  
            padding-bottom: size(15);  
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: size(21) 0;
        justify-items: start;
    }

    .input__label {
        display: flex;
        align-items: flex-end;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: size(14);
        line-height: size(19);

        input[type="checkbox"] {
            box-sizing: border-box;
            height: size(16);
            width: size(16);
            border: size(3) solid var(--mc-black);
            border-radius: size(2);
        }
    }

    /* .field {
        label {
            margin: 0;
        }
    } */

    .field__longdescription {
        height: size(150);
    }
}

.agent-data {
    display: flex;
    flex-direction: column;

    &__title,
    &__secondTitle {
        margin: size(16) 0 size(16) 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: size(18);
        line-height: size(25);
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width:size(1043)) {
            display: grid;
            grid-template-columns: 1fr;
        }

        &--field {
            margin-bottom: size(16);

            label {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: size(14);
                line-height: size(19);
                margin-bottom: size(8);
            }

            @media (max-width:size(600)) {
                .box {
                    margin: size(8) 0 size(27) 0;
                }
            }

            .box {
                margin-top: size(8);
                max-width: size(300);
                width: 100%;
                min-height: size(49);
                background: var(--mc-gray-100);
                border-radius: size(4);
                padding: size(16);
                word-break: break-word;
            }
        }
    }
}