@use '../0.settings/mixins' as *;

.seals-relations-background {
    padding: 30px;
    
}

.seals-relations-item {

    .seal-relation-content {
        display: flex;
        align-items: flex-start;
    
        .seals-relations-item-image {
            margin-right: 20px;
            flex-shrink: 0;
        }
    
        .seal-text-cont {
            display: flex;
            flex-direction: column;
            flex: 1;

            h3 {
                font-size: 18px;
                color: $projects-500;
                margin-bottom: 2%;
            }

            b {
                color: #000000;
                font-weight: $font-weight-bold;
                margin-bottom: 2%;
            }

            .seal-creator {
                color: $projects-500;
                font-weight: $font-weight-bold;
                margin-bottom: 2%;
            }

            p {
                margin-bottom: 2%;
            }

            .seal-dates {
                display: flex;
                gap: 20px; // Ajuste conforme necessário para o espaçamento entre os parágrafos
            
                p {
                    margin: 0;
                }
            
                mc-icon {
                    margin-right: 5px; // Espaçamento entre o ícone e o texto
                }
            }            
    
        }

        .seal-header {

            input[type="checkbox"] {
                margin-left: 10px;
                accent-color: $projects-500;
            }

            label {
                font-size: 14px;
                color: $projects-500;
                cursor: pointer;
            }
        }
    
        .seal-footer {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        
            .button {
                padding: 8px 16px;
                color: #ad0505;
                border-radius: 4px;
                border-color: red;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
        
                mc-icon {
                    margin-right: 5px;
                }
            }
        }
        
    }
    
}