@use '../0.settings/mixins' as *;

.registration-workplan {
    &__goals {
        border: 1px solid #ddd; 
        padding: size(12);
        margin-top: size(12);
    }

    &__goals-title {
        color: #117C83;
    }

    &__goals-period {
        margin-top: size(12);
        p {
            font-weight: bold;
        }
    }

    &__goals-months {
        display: flex; 
        gap: size(12); 
    }

    &__delete-goal {
        margin-top: size(12);
        display:flex;
        align-items:right;
        justify-content: flex-end;
    }

    &__goals__deliveries {
        border: 1px solid #ddd; 
        padding: size(24);
        margin-top: size(12);
    }

    &__new-delivery {
        margin-top: size(12);
    }

    &__new-goal {
        margin-top: size(12);
    }

    .field {
        margin-top: size(12);
    }
}